
body {
  background: var(--main-background-color);
  font-family: "Droid Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body.test {
  overflow: hidden;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
  margin-top: 20px;
  width: 80%;
  font-size: 20pt;
  text-align: center;
  pointer-events: none;
}

.description {
  width: 80%;
  margin: 0 20px 0 20px;
  text-align: justify;
  pointer-events: none;
}

.slider-window {
    background: #666;
    width: 80%;
    max-width: 300px;
    margin: 5px 5% 5px 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.slider-label {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.check-box-label {
  display: inline-block;
  width: 100%;
  text-align: start;
  margin-left: 10%;
}

.slider-label input[type="range"] {
  width: 100%;
}

.slider-label span {
  color: lightgreen;
  font-weight: bold;
}

.slider-label h2 {
    font-size: 1.2rem;
    margin: 0;
}

.slider-label p {
    font-size: 1rem;
    margin: 0;
}

@property --fg-offset {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --bg-offset {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --fg-scale {
  syntax: "<number>";
  initial-value: 1.0;
  inherits: true;
}

@property --bg-scale {
  syntax: "<number>";
  initial-value: 1.0;
  inherits: true;
}

@property --vertical-offset {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --scrim {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --main-background-color {
  syntax: "<color>";
  initial-value: white;
  inherits: true;
}

:root {
  --fg-offset: 0px;
  --bg-offset: 0px;
  --fg-scale: 1.0;
  --bg-scale: 1.0;
  --scrim: 0;
  --main-background-color: white;
}

.screenshot_container {
  position: absolute;
  inset: 0;
  touch-action: none;
  overflow:hidden;
}

.screenshot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}

#buttonSettings {
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  font-size: 20pt;
  z-index: 2;
}

#buttonTest {
  font-size: 20pt;
}

.top_screenshot {
  z-index: 1;
  transform: translateX(var(--fg-offset)) translateY(var(--vertical-offset)) scale(var(--fg-scale));
}
#frontimg > img {
  border-radius: calc((1.0 - var(--fg-scale))*200px);
}

.bottom_screenshot {
  transform: translateX(var(--bg-offset)) scale(var(--bg-scale));
}
#midimg > img {
    border-radius: calc((1.0 - var(--bg-scale))*200px);
}
#midimgprecommit > img {
  border-radius: calc((1.0 - var(--bg-scale))*200px);
}

.show_scrim .scrim {
  position: absolute;
  inset: 0;
  background: black;
  opacity: var(--scrim);
}

.scroller {
  width: 100%;
  overflow: auto;
  flex-grow: 1;
}

fieldset {
  border:0;
}

/* TODO: this styling is redundant with some of the slider styling. */
#mode_window {
  text-align: left;
  color:white;
}

#mode_window h2 {
  text-align:center;
  padding:0;
}

:root {
  --progress-height: 5px;
}

.bar {
  position: relative;
  z-index: 101;
}

.progress-container {
  top: -1px;
  left: 0;
  right: 0;
  position: absolute;
  height: var(--progress-height);
}

.pure-material-progress-linear {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: var(--progress-height);
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
    border: 1px solid lightgray;
    top: -1px;
    vertical-align: top;
}

.pure-material-progress-linear::-webkit-progress-bar {
    background-color: transparent;
}

/* Determinate */
.pure-material-progress-linear::-webkit-progress-value {
    background-color: currentColor;
}

.pure-material-progress-linear::-moz-progress-bar {
    background-color: currentColor;
}

.pure-material-progress-linear::-ms-fill {
    border: none;
    background-color: currentColor;
}

/* Indeterminate */
.pure-material-progress-linear:indeterminate {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
    animation: pure-material-progress-linear 2s infinite linear;
}

.pure-material-progress-linear:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

.pure-material-progress-linear:indeterminate::-ms-fill {
    animation-name: none;
}

@keyframes pure-material-progress-linear {
    0% {
        background-size: 200% 100%;
        background-position: left -31.25% top 0%;
    }
    50% {
        background-size: 800% 100%;
        background-position: left -49% top 0%;
    }
    100% {
        background-size: 400% 100%;
        background-position: left -102% top 0%;
    }
}

#chevronContainer {
  height: 50px;
  transition: all 0.2s;
  position: absolute;
  top: 50%;
  display: none;
  background: beige;
  z-index: 999999;
}

#chevron {
  color: black;
  font-size: 24pt;
  text-align: center;
  margin-top: 2px;
  transition: all 0.2s;
  opacity: 0;
}

